<div id="post" class="container">
post #<%= post.id %><br>
    <%= post.text %><br>
<p class= "counts">
comments: <%= post.comments_counter? ? post.comments_counter : 0 %> , 
Likes: <%= post.likes_counter? ? post.likes_counter : 0 %>
</p>
</div>