#user {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#user-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid black;
  padding: 0 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 94.5%;
  border: 1px solid black;
  padding: 0 2rem;
  margin-top: 1rem;
}

.counts {
  text-align: right;
}

.button-container {
  width: 200px;
  margin: auto;
  margin-top: 1rem;
}

#post {
  padding: 10px 10px;
}

.delete-post-link {
  background-color: var(--light_purple);
  min-height: 2rem;
  border: 0.2rem solid var(--purple);
  border-radius: 5px;
  padding: 4px 6px;
}
